<%= form_for @club, html: {class: 'edit_club'} do |f| %>
    <div class="row mt mb">

      <div class="medium-6 columns">


        <%= f.text_field :name %>
        <%= f.collection_select :club_pres_id, User.all, :id, :first_name, include_blank: true %>
        <%= f.hidden_field :assoc_pres_id, value: @current_user.id %>
        
      </div>

      <div class="medium-6 columns">
     
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns bt">
        <%= f.submit t(:save), class: 'success button radius mtl' %>
      </div>
    </div>

<% end %>
