


<div class="row collapse">
  <div class="medium-12 columns">
    <div class="panel no-bt">
      <div class="row collapse">
        <div class="medium-9 columns">
            <h3 class="filter-title no-m pts plm"><%= t('My Clubs') %></h3>
        </div>
        <div class="medium-3 columns">
            <%= link_to new_club_path, class: 'no-m tiny button right radius' do %>
                <i class="fa fa-plus" style="top:1px"></i> Add New Club 
              <% end %>

        </div>

                      


      </div>
    </div>

    <table class="full">
      <thead>
        <tr>
          <th><%= t(:Club) %></th>
          <th><%= t("Club President") %></th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @clubs.each do |club| %>
        <% if club.assoc_pres_id == @current_user.id %>
          <tr>
            <td><%= club.name %></td>            
            <td>
              <% if club.club_pres == nil %>
                No club president. Please <%= link_to 'assign one', edit_club_path(club) %>
                                
              <% else %>
                <%= club.club_pres.first_name %> <%= club.club_pres.last_name %>
              <% end %>
            </td>
            <td>
            <a href="<%= edit_club_path(club) %>"><i class="fa fa-edit fa-fw"></i></a>
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <div class="pagination-centered">
    </div>
  </div>
</div>

