<%= form_for @reply, html: { multipart: true, class: 'new_reply' } do |r| %>
  <%= r.hidden_field :content_type, value: current_user.prefer_plain_text? ? 'text' : 'html' %>

  <%= r.hidden_field :ticket_id %>
  <div class="row collapse bb">
    <div class="medium-1 column ptl pll">
      <%= user_avatar current_user, class: 'avatar', size: 35 %>
    </div>
    <div class="medium-11 columns ptm pbm pll prl">
      <h3 class="text-default"><%= t(:reply) %></h3>
      <% if can? :update, @reply.ticket %>
        <div class="row collapse">
          <%= r.fields_for :ticket do |f| %>
            <div class="medium-4 columns">
              <%= f.label :to_email_address_id, t('activerecord.attributes.reply.from'), class: 'ptm' %>
            </div>
            <div class="medium-8 columns">
              <% blank = @outgoing_addresses.count == 0 ? EmailAddress.default_email : '' %>
              <%= f.collection_select :to_email_address_id, @outgoing_addresses, :id, :formatted,
                  include_blank: blank, label: false %>
            </div>
          <% end %>
        </div>
      <% end %>

      <%
        if current_user.prefer_plain_text?
          content = "\n#{html_to_text current_user.signature}\n"
        else
          content = "<p></p>#{current_user.signature}<br />"
        end
        reply_to = @reply.other_replies.order(:id).last

        if reply_to.nil?
          reply_to = @reply.ticket
        end

        content += t(:on_date_author_wrote, author: reply_to.user.email,
            date: l(reply_to.created_at.in_time_zone(current_user.time_zone), format: :long))

        if current_user.prefer_plain_text?
          content += "\n#{wrap_and_quote(reply_to.content)}"
        else
          content += "<br />#{text_to_html(wrap_and_quote(reply_to.content))}"
        end
      %>


      <p>
        <%= r.text_area :content, label: false, class: ('tinymce' unless current_user.prefer_plain_text?),
            value: (@reply.content.nil? ? content : @reply.content) %>
      </p>

      <%= render 'attachments/form', f: r %>

      <p class="no-m">
        <%= t(:notification_will_be_sent_to) %>
      </p>
      <p>
        <%= r.collection_select :notified_user_ids, User.ordered, :id, :email, { label: false }, { multiple: true, class: 'select2' } %>
      </p>

      <% if can? :update, @reply.ticket %>
        <div class="row collapse">
          <%= r.fields_for :ticket do |f| %>
            <div class="medium-4 columns">
              <%= f.label :status, t(:change_status), class: 'ptm' %>
            </div>
            <div class="medium-8 columns">
              <%= f.collection_select(:status,
                  t('activerecord.attributes.ticket.statuses'), :first, :last,
                  label: false) %>
            </div>
          <% end %>
        </div>
      <% end %>

      <p>
        <%= r.submit value: t(:send_reply), class: 'button regular radius secondary' %>
      </p>

    </div>
  </div>
<% end %>

