/* line 21, /Users/Ev/ruby-projects/sportsreports/app/assets/stylesheets/brimir-plugin.scss */
.brimir-plugin-popup {
  position: absolute;
  top: -100%;
  left: 50%;
  width: 600px;
  height: 400px;
  margin-left: -300px;
  margin-top: -200px;
  padding: 15px;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  z-index: 2;
  font-size: 14px;
}
/* line 36, /Users/Ev/ruby-projects/sportsreports/app/assets/stylesheets/brimir-plugin.scss */
.brimir-plugin-popup.show {
  top: 50%;
}
/* line 40, /Users/Ev/ruby-projects/sportsreports/app/assets/stylesheets/brimir-plugin.scss */
.brimir-plugin-popup [data-brimir-plugin="close"] {
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 30px;
  color: #008cba;
  background: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}
/* line 54, /Users/Ev/ruby-projects/sportsreports/app/assets/stylesheets/brimir-plugin.scss */
.brimir-plugin-popup [data-brimir-plugin="close"]:hover i {
  color: #f00;
}
/* line 59, /Users/Ev/ruby-projects/sportsreports/app/assets/stylesheets/brimir-plugin.scss */
.brimir-plugin-popup input, .brimir-plugin-popup textarea {
  width: 100%;
  border: 1px solid #cccccc;
  background: #fff;
}
/* line 64, /Users/Ev/ruby-projects/sportsreports/app/assets/stylesheets/brimir-plugin.scss */
.brimir-plugin-popup textarea {
  height: 150px;
}
/* line 68, /Users/Ev/ruby-projects/sportsreports/app/assets/stylesheets/brimir-plugin.scss */
.brimir-plugin-popup label {
  background-color: #fff;
  color: #4d4d4d;
  font-weight: normal;
  text-align: left;
  display: block;
  padding: 0;
  margin: 0;
}
/* line 78, /Users/Ev/ruby-projects/sportsreports/app/assets/stylesheets/brimir-plugin.scss */
.brimir-plugin-popup h3 {
  color: #333;
  text-align: left;
}
/* line 83, /Users/Ev/ruby-projects/sportsreports/app/assets/stylesheets/brimir-plugin.scss */
.brimir-plugin-popup input.button {
  padding: 0;
  margin: 15px 0 0 0;
  color: #fff;
  width: auto;
  float: right;
  background-color: #008cba;
  border-color: #007095;
  border-style: solid;
  border-width: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Lato","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: normal;
  margin: 15px 0 0 0;
  padding: 16px 32px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 300ms ease-out 0s;
}
/* line 108, /Users/Ev/ruby-projects/sportsreports/app/assets/stylesheets/brimir-plugin.scss */
.brimir-plugin-popup .panel {
  border: none;
  margin: 0;
  padding: 0;
}

/* line 115, /Users/Ev/ruby-projects/sportsreports/app/assets/stylesheets/brimir-plugin.scss */
.brimir-plugin-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  pointer-events: none;
  z-index: 1;
}
/* line 127, /Users/Ev/ruby-projects/sportsreports/app/assets/stylesheets/brimir-plugin.scss */
.brimir-plugin-overlay.show {
  opacity: 1;
}

/* line 132, /Users/Ev/ruby-projects/sportsreports/app/assets/stylesheets/brimir-plugin.scss */
.brimir-plugin-tabs {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -32px;
  border: 1px solid #007095;
  border-right: none;
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -ms-border-top-left-radius: 3px;
  -o-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 143, /Users/Ev/ruby-projects/sportsreports/app/assets/stylesheets/brimir-plugin.scss */
.brimir-plugin-tabs a {
  display: block;
  color: #fff;
  font-size: 20px;
  padding: 0 8px;
  border-bottom: 1px solid #f00;
  background: #008cba;
  font-weight: bold;
  text-decoration: none;
}
/* line 153, /Users/Ev/ruby-projects/sportsreports/app/assets/stylesheets/brimir-plugin.scss */
.brimir-plugin-tabs a:last-child {
  border-bottom: 0;
}
/* line 157, /Users/Ev/ruby-projects/sportsreports/app/assets/stylesheets/brimir-plugin.scss */
.brimir-plugin-tabs a:hover {
  color: #fff;
}
