<%= form_for @user, html: {class: 'edit_user'} do |f| %>
    <div class="row mt mb">

      <div class="medium-6 columns">

        <h5><%= t(:account_settings) %></h5>

        <p><%= t(:only_fill_in_passwords_when_modifying) %></p>
        
         <%= f.text_field :first_name %>
         <%= f.text_field :last_name %>

        <% if can? :manage, User %>
            <%= f.text_field :email %>
        <% end %>

        <%= f.password_field :password %>

        <%= f.password_field :password_confirmation %>

        <div class="hide">

          <% if can? :manage, User %>
              <%= f.check_box :agent, label: t(:user_is_an_agent) %>
          <% end %>

          <%= f.select :time_zone, @time_zones %>

          <% @user.locale = 'en' if @user.locale.blank? # fallback on english  %>
          <%= f.select :locale, @locales %>

          <%= f.select :per_page, [10, 20, 30, 50, 75, 100] %>
        </div>
        
        <%= f.hidden_field :added_by, value: @current_user.id %>

      </div>

      <div class="medium-6 columns" style="display:none">
        <h5><%= t(:email_settings) %></h5>

        <%= f.check_box :prefer_plain_text %>

        <% if @user.agent? %>

          <%= f.check_box :notify,
              label: t(:receive_new_ticket_notifications) %>

          <%= f.text_area :signature, rows: 5, cols: 20, class: 'tinymce mbl' %>
        <% end %>

        <% if can? :create, Labeling.new(labelable: @user) %>
          <h5><%= t(:access_control) %></h5>

          <p><%= t(:have_access_to_label) %></p>

          <%= f.collection_select :label_ids, @labels, :id, :name, {}, {
              multiple: true, class: 'select2 mbl' } %>
        <% end %>

        <% unless Rails.application.secrets[:google_client_id].blank? %>

          <h5><%= t(:omniauth_connect_title) %></h5>

          <p><%= t(:omniauth_connect_text) %></p>

          <%= link_to user_omniauth_authorize_path(:google_oauth2) do %>
            <i class="fa fa-google-plus-square"></i>
            <%= t(:omniauth_connect_google_text) %>
          <% end %>

        <% end %>

      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns bt">
        <%= f.submit t(:save), class: 'success button radius mtl' %>
      </div>
    </div>

<% end %>
