<div class="panel pam no-bt">
  <div class="row collapse">
    <div class="medium-12 columns">
      <div class="row collapse">
        <div class="medium-3 columns">
          <h3 class="filter-title no-m pts plm"><%= t('My Club Presidents') %></h3>
        </div>
        <div class="medium-9 columns">
          <%= form_tag users_path, method: :get, class: 'prm' do %>

            <div class="row collapse">

              <%= link_to new_user_path, class: 'radius tiny button right mlm no-m' do %>
                <i class="fa fa-plus" style="top:1px"></i> Add new club president
              <% end %>

              <div class="hide">

                <div class="small-2 columns right">
                  <%= button_tag '<i class="fa fa-search"></i>'.html_safe, type: 'submit', class: 'secondary radius no-bl no-m button postfix' %>
                </div>
                <div class="small-5 columns right">
                  <%= text_field_tag :q, params[:q], class: 'no-m radius-tl radius-bl' %>
                </div>

                <label class="ib mts mll mrl pull-right"><%= radio_button_tag :agent, 0, params[:agent] == '0' %> <%= t(:customer) %></label>
                <label class="ib mts pull-right"><%= radio_button_tag :agent, 1, params[:agent] == '1' %> <%= t(:agent) %></label>
              </div>

            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<table class="full">
  <thead>
    <tr>
      <th><%= t(:email) %></th>
      <th><%= t(:role) %></th>
      <th><%= t(:Club) %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <% if user.added_by == @current_user.id %>
        <tr>
          <td>
            <%= user_avatar user, class: 'avatar' %>
            <%= link_to user.email, edit_user_path(user) %>
          </td>
          <td><%= (user.agent?) ? t(:agent) : t(:customer) %></td>
          <td>
            <% if user.club_pres == nil %>
              Not assigned to any club. Please go to the <%= link_to 'club page', clubs_path %> and assign one.
            <% else %>
              <%= user.club_pres.name %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="pagination-centered">
  <%= will_paginate @users %>
</div>
