<%= form_for @ticket, url: tickets_url, html: { multipart: true } do |f| %>
  <% type = (!current_user.nil? && current_user.prefer_plain_text?) ? 'text' : 'html' %>

  <%= f.hidden_field :content_type, value: type %>

  <h3><%= t(:new_ticket) %></h3>

  <p class="hide">
    <%= f.text_field :from %>
  </p>
  <p>
    <%= f.text_field :incident_name %>
  </p>
  <p class="date-selector">
    <%= f.date_select :incident_date, :order => [:day, :month, :year] %>
  </p>
  </p>
  <%= f.collection_select :defending_club_id, Club.order(:name).all, :id, :name %>
  </p>

  <p>
    <%= f.text_area :content %>
  </p>


  <%= render 'attachments/form', f: f %>

  <p>
    <%= f.submit class: 'button regular radius' %>
  </p>

<% end %>
