<div class="panel pam no-bt">
  <div class="row collapse">
    <div class="medium-6 columns">
      <h3 class="filter-title no-m pts plm">
        <% if params[:q].present? %>
          <%= t(:count_tickets_containing, count: @tickets.count) %> '<em><%= params[:q].to_s %></em>'
        <% else %>
          <%= t(:count_tickets, count: @tickets.count) %>
        <% end %>
      </h3>
    </div>
    <div class="medium-6 columns">
      <%= form_tag tickets_path, method: :get, class: 'prm' do %>
        <%= hidden_field_tag(:assignee_id, params[:assignee_id]) unless params[:assignee_id].blank? %>
        <%= hidden_field_tag :status, params[:status] %>
        <div class="row collapse">
          <% params.delete(:controller) %>
          <% params.delete(:action) %>
          <%= link_to tickets_path(:csv, params), class: 'secondary radius tiny button right mlm no-m' do %>
            <i class="fa fa-cloud-download" style="top:1px"></i>
          <% end %>

          <% if params[:status] == 'deleted' %>
            <%= link_to tickets_deleted_path, method: :delete, 'data-confirm' => t(:are_you_sure_empty_trash), class: 'secondary radius tiny button right mlm' do %>
              <i class="fa fa-bomb" style="top:1px"></i>
            <% end %>
          <% end %>

          <div class="small-2 columns right">
            <%= button_tag '<i class="fa fa-search"></i>'.html_safe, type: 'submit', class: 'secondary radius no-bl no-m button postfix' %>
          </div>
          <div class="small-5 columns right">
            <%= text_field_tag :q, params[:q], class: 'no-m radius-tl radius-bl' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<section class="tickets">
  <%= form_tag tickets_selected_path, method: :patch do %>
    <ul class="inline-list bb no-m">
      <li class="pal no-m prm">
        <input type="checkbox" value="" name="" class="no-mb mts left" data-toggle-all />
      </li>
      <% Ticket.statuses.except(params[:status]).keys.each do |value| %>
        <li class="bl no-m">
          <button type="submit" name="ticket[status]" value="<%= value %>" class="ptl plm prm pbl text-medium-light-grey no-m no-b">
            <%= t(value, scope: 'activerecord.attributes.ticket.statuses') %>
          </button>
        </li>
      <% end %>
    </ul>
    <% @tickets.each do |ticket| %>
      <% if ticket.user.added_by == @current_user.id || ticket.user.id == @current_user.id %>
        <div class="priority-<%= ticket.priority %> row ticket bb" style="height: 4em;" data-ticket-url="<%= ticket_url(ticket) %>">
          <div class="medium-6 plxxl v-middle columns">
            <input type="checkbox" value="<%= ticket.id %>" name="id[]" class="no-mb" data-toggle-check />
            <%= user_avatar ticket.user, class: 'avatar left mrl mts mlm', size: 30 %>
            <p class="no-mb text-overflow">
              <span class="block"><%= ticket.user.email %></span>
              <% unless ticket.subject.blank? %>
                <a href="<%= ticket_url(ticket) %>">
                  <strong><%= ticket.subject %></strong>
                </a>
              <% else %>
                <%= link_to ticket do %>
                  <em><%= t(:no_subject) %></em>
                <% end %>
              <% end %>
              <% if ticket.locked?(current_user) %>
                <br /><em><%= t(:locked_by_user, user: ticket.locked_by.email) %></em>
              <% end %>
            </p>
          </div>
          <div class="medium-1 v-middle columns">
            <% if ticket.replies.size > 0 %>
               <span class="ba label radius right alt text-secondary" title="<%= ticket.replies.size %> <%= t(:replies) %>">
                 <i class="fa fa-comment "></i>
                 <%= ticket.replies.size %>
               </span>
            <% else %>
              <span>&nbsp;</span>
            <% end %>
          </div>
          <div class="medium-2 v-middle columns">
            <% ticket.labels.viewable_by(current_user).each do |label| %>
              <%= render label %>
            <% end %>
          </div>
          <div class="medium-3 v-middle columns">
            <p class="no-mb text-right">
              <span class="block"><%= l ticket.created_at.in_time_zone(current_user.time_zone), format: :short %></span>
              <% if can? :update, ticket %>
                <% if ticket.assignee %>
                  <a data-assignee-id="<%= ticket.assignee.id %>" href="#"><%= ticket.assignee.email %></a>
                <% else %>
                  <a data-assignee-id="" href="#" class="text-default"><em><%= t(:unassigned) %></em></a>
                <% end %>
              <% else %>
                <% if ticket.assignee %>
                  <%= ticket.assignee.email %>
                <% else %>
                  <em><%= t(:unassigned) %></em>
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %> 
    <% end %>
  <% end %>

  <% if @tickets.empty? %>
    <div class="ticket text-center">
      <p><%= t(:no_tickets_found) %></p>
    </div>
  <% end %>

  <% unless @tickets.empty? %>

    <div class="row">
      <div class="small-12 columns">
        <%= will_paginate @tickets %>
      </div>
    </div>

    <%= render 'change_assignee_form', { ticket: Ticket.new } %>

  <% end %>
</section>
