body {
		background-color: #27A968!important;
}
body a {
    color: #27A968;
    }

body a:hover, body a:focus {
    color: #0E6F16
}

nav.top-bar .title-area {
    background-color: transparent;
}

nav.top-bar .toggle-topbar.menu-icon a span::after {
    box-shadow: 0 0 0 1px #777, 0 7px 0 1px #777, 0 14px 0 1px #777;
    }

nav.top-bar .toggle-topbar.menu-icon a {
    color: #777;
}

a.button.secondary, a.button.secondary {
	background-color: #fff;
	border-color: #0E6F16;
	color: #30363e;
}

.date-selector select{
    width: 32%;
    float: left;
    margin-right: 1%;
}


/*   responsive
**********************/

@media (max-width: 640px){
nav.top-bar .name h1 a {
   
    width: 45%;
    }
}

